* {
    font-family: 'Mukta Mahee', sans-serif;
    background-color: white;
    border-radius: 25px;
}

html {
    background-color: rgb(244, 214, 244);
}

body {
    margin: 10px;
}

.header-icons {
    position: absolute; 
    margin-left: 100px; 
    margin-top: 4px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
    margin-right: 100px;
    margin-bottom: 40px;
}

.navbar-container > a {
    margin-right: 10px;
}

.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    gap: 15rem;
}

.intro-container{
    inline-size: 500px;
    position: relative;
    margin-left: 100px;
    margin-bottom: 170px;
    overflow-wrap: break-word;
}

.img-container {
    /* margin-left: 200px; */
    margin-right: 5rem;
    margin-bottom: 2rem;
 
}

.self-img {
    width: 25rem;
}

h1 {
    font-size: 80px;
    width: 40rem;
}

p {
    font-size: large;
}

.projects-container {
    inline-size: 600px;
    position: relative;
    margin-left: 100px;
    margin-bottom: 170px;
    overflow-wrap: break-word;
}

h2 {
    font-size: 30px;
}

.contact-container {
    inline-size: 600px;
    position: relative;
    margin-left: 100px;
    margin-bottom: 100px;
    overflow-wrap: break-word;
}

.project-card {
    background-color: white;
    border: 3px solid black;
    position: relative;
    width: 350px;
    height: 300px;
}

.icon-wrapper {
    position: absolute;
    align-items: center;
    top: 0px;
    right: 0px;
    display: flex;
}

.icon-wrapper > * {
    margin: 0;
    margin-right: 5px;
}

.text-content {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 60px;
}

